
body{
	background-color:powderblue;
	/*
	background:#fafaf9;
	color:#06031c;
	*/
	margin: 0px auto;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	display: block; 
  -webkit-user-select: none;
	user-select:none;
	}
	

/*--------------------------------------------------------------------*/

.card-grid {  /*нужен для центровки внутренней панели*/
  max-width: 800px; 
  margin: 0 auto; 
  display: grid; 
  grid-gap: 2rem; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-block-start: 2%;	/*верхний отступ*/
}
.card {       /*это основная панель, на ней все элементы*/
  position:relative;
  /*height:560px; */ /*высота*/
  margin-block-start: 3%;
  margin-left: 3%;
  margin-right:3%;
  border-radius:3px;
  /*border: 1px solid #333;*/
  background:#e2eaec;
  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}
.sys-inf {  /*параграф с системной информацией, верхняя строка*/
	margin-block-start: 40px;
	margin-block-end: 20px;	
	font-size: 18px;
	font-weight: 700;
}
#freemem {  /*желтая подсветка*/
  /*border: red 2px solid;*/
  background-color: #f7ec88;
}
p {
  font-size: 1.5rem;
}
/*-------------------------------------------------------------------------*/
label {
  font-family: 'Arial';
  font-size: 16px/*1.2rem8*/;
  font-weight: 700;
  display: inline-block;
  width: 60px;
  text-align:left;
}

input {
  padding: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px/*1.2rem*/;
  width: 50%;
  margin: 10px;
}
input:focus {
  outline: none;
  /*background-color:#ffffcc;*/ 
  border-width:1px;
  border-color:#a9aaa3;
}

button {
  border: none;
  color: #FEFCFB;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  width: 100px;
  border-radius: 4px;
  /*transition-duration: 0.4s;*/
  margin: 10px;
  /*margin-bottom: 36px;*/
  /*background-color: #4CAF50;*/
  background-color: #467c7f;
}
.wifiman {
  cursor: pointer;	
}
.wifiman:active {
  box-shadow: 2px 2px 5px #fc894d;
  color: #fc894d;
}
