
body{
	background:#fafaf9;
	color:#06031c;
	margin: 0px auto;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	display: block; 
  user-select:none;
	}
	
/*
html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  background:#e5e9a6;
}
*/

/*h1{text-align:center;margin:20% 0 5%;font-family:verdana;font-weight:100;}*/


/*-----------------------------Sens---------------------------------------*/

.card-grid {  /*нужен для центровки внутренней панели*/
  max-width: 800px; 
  margin: 0 auto; 
  display: grid; 
  grid-gap: 2rem; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {       /*это основная панель, на ней все элементы*/
  position:relative;
  /*height:560px; */ /*высота*/
  margin-block-start: 3%;
  margin-left: 3%;
  margin-right:3%;
  border-radius:3px;
  /*border: 1px solid #333;*/
  background:#e2eaec;
  /*box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);*/
}
.sys-inf {  /*параграф с системной информацией, верхняя строка*/
	margin-block-start: 22px;
	margin-block-end: 22px;	
	font-size: 18px;
	font-weight: 700;
}
#freemem {
  /*border: red 2px solid;*/
  background-color: #f7ec88;
}
p {
  font-size: 1.5rem;
}
/*--------------------------------------Manag-------------------------------------------*/
label {
  font-size: 18px/*1.2rem8*/; 
}
input[type=text] {
  width: 50%;
  padding: 8px 20px;
  margin: 18px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px/*1.2rem*/;
}
input[type=text]:focus {
  outline: none;
  /*background-color:#ffffcc;*/ 
  border-width:2px;
  border-color:#a9aaa3;
}
button {
  border: none;
  color: #FEFCFB;
  background-color: #676a6d;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  width: 80px;
  border-radius: 4px;
  /*transition-duration: 0.4s;*/
  margin-bottom: 36px;
}
.wifiman {
  cursor: pointer;	
}
.wifiman:active {
  box-shadow: 2px 2px 5px #fc894d;
  color: #fc894d;
}

.reboot {
  font-size: 16px;
  background-color: #9b2920f7;
  border-radius: 4px;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;	
}
.reboot:active {
  box-shadow: 2px 2px 5px #fc894d;
  color: #fc894d;
}

/*---------------------------------------------Calibr--------------------------------------------*/

.calibr-plab {
	/*margin-block-start: 0px;*/
	margin-block-end: 24px;
}
.calibr-pbtn {
	margin-block-start: 38px;
	margin-block-end: 0px;
}
.calibr {
  width: 250px;
  cursor: pointer;
  margin-bottom: 32px;
}
.calibr:active {
    box-shadow: 2px 2px 5px #fc894d;
	color: #fc894d;
}
